@import '~bootstrap/scss/bootstrap';
@import url('https://fonts.googleapis.com/css2?family=Bungee+Hairline&family=Bungee+Outline&family=Roboto+Mono&display=swap');

body {
  margin: 0;
  font-family: 'Roboto Mono', serif;
  background: url('public/white-cube-monalisa2.jpeg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
ul {
  position: absolute;
  top: 5px;
  right: 15px;
  text-align: left;
  list-style-type: none;
  font-size: 14px;
}
h1 {
  font-family: 'Bungee Outline', cursive;
  font-size: 96px;
  text-align: center;
}
p {
  text-align: center;
}
span {
  font-family: 'Bungee Hairline', cursive;
}
#auth, #create, #update, #destroy, #index {
  text-align: center;
  display: block;
}
form {
  max-width: 50vw;
  padding: 20px;
  margin: 0 auto;
}

input {
  width: 100%;
  margin: 5px;
  display: inline-block;

}

button {
  background-color: white;
}
img {
  margin: 10px 0 10px 0;
  padding: 1px;
  border: 1px solid black;
}
